.img{
    position: relative;
    background-image: url(../img/header.jpg);                                                               
    height: 100vh;
    /* background-size: cover; */
    
}

.img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);                                                                 
  z-index:1;
}

.box{
    margin-top: 100px;
    margin: 0 auto;
    width: 30%;
    padding: 20px 0 60px 0;
    background-color: rgba(65, 64, 64, 0.97);
    border-radius: 10px;
    
}

.box2{
    margin-top: 100px;
    margin: 0 auto;
    width: 1200px;
    padding: 1120px 0 1160px 0;
    background-color: rgba(65, 64, 64, 0.97);
    border-radius: 10px;
    
}

.head{
    color:rgb(230, 77, 50);
}

.head2{
    color:rgb(255, 255, 255);
}